<html>
    <title>

    </title>
    <body>
        <h1>ToDo List</h1>
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" required="required" name="new_item">
            <input type="submit" value="Add Item">
        </form>
        {%for task in task_list%}
            <h3>{{loop.index}}. {{task.description}}</h3> <form action="{{ url_for('delete',id=task.id) }}" method="POST" > 
                <input type="submit" value="Delete Item">
            </form>
        {% endfor %}
    </body>
</html>